@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    scroll-behavior: smooth;
}


.topnav {
    background-color: mediumseagreen;
    
    padding: 25px;
    user-select: none;

    display: flex;

    list-style: none;
    margin: -8px -8px -8px -8px;
    text-align: right;
}

.menu-text {
    cursor: pointer;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-attachment: scroll;
    font-size: 20px;

    user-select: none;

    color: white;
    margin-left: 25px;
}

.menu-text:hover {
    color: rgb(228, 226, 226);
}

footer {
    font-family: 'Roboto Thin';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;

    user-select: none;
}

a {
    text-decoration: none;
}

.home {
    margin-top: 75px;
    user-select: none;
}

.text-hvg {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    user-select: none;
    color: rgb(9, 103, 51);
}

.text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    user-select: none;
    color: mediumseagreen;
    text-shadow: blue;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: mediumseagreen;
    color:white;

    padding: 12px;
    font-size: 24px;
    border: 0;
    margin-top: 50px;

    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color:mediumaquamarine ;
}

.icon {
    cursor: pointer;
    margin-left: 25px;
    margin-top: 25px;
    user-select: none;
}

section {
    background-color: mediumseagreen;
    margin: -8px -8px -8px -8px;
    padding: 50px;
    margin-top: 25px;
}

img {
    user-select: none;
}